.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 260px;
    padding: 20px 50px;
    border-radius: 66px;
    cursor: pointer;
    transition:
        color .2s ease-out,
        background-color .3s ease-out;
}
.button-black {
    color: var(--color-white);
    background-color: var(--color-black);
}
.button-black:hover {
    color: var(--color-black);
    background-color: var(--color-yellow);
}
.button-transparent {
    color: var(--color-black);
    border: 1px solid var(--color-black);
}
.button-transparent:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}
.button-transparent:hover,
.button-black:hover {
    transition-timing-function: ease-in;
}
